|<?php
|	date_default_timezone_set('Europe/Moscow');
|
|	if (isset($_POST['expired_clear']) || isset($_POST['noti'])) { exit; }
|	if (isset($_POST['add_air']) && $_POST['where'] == 'radio') { exit; }
|	if (isset($_POST['rm_air']) && $_POST['where'] == 'radio') { exit; }
|
|	include_once (php_uname('s') == 'Windows NT' ? '../../api/' : '') . 'topsec/panel-core.php';
|?>
doctype html
html(lang='ru')
	head
		include ../inc/vars.pug
		- var subTitle = 'Panel'

		meta(charset='utf-8')
		title #{title} / #{subTitle}

		| <?php if (isset($_GET['action'])) echo '
		script document.location.href="'. $_SERVER['PHP_SELF'] .'"
		noscript #[meta(refresh="0; '. $_SERVER['PHP_SELF'] .'")]
		|'; ?>

		include ../inc/meta-viewport.pug
		meta(name='robots' content='noindex, nofollow')

		link(rel='shortcut icon' href=`${URLs.favicon}`)
		link(rel='manifest' href=`${URLs.manifest}`)
		link(rel='sitemap' href=`${URLs.sitemap}`)

		include ../inc/meta-font.pug

		each CSS in ['aw-every', 'admin-panel']
			link(rel='stylesheet' href=`${PATHS.css}/${CSS}.min.css?v=${VERSION}`)
	body(data-controls='add-air rm-air')
		div.container
			header.top-panel
				div.brand
					div.logo
					a(href='/' class='text' rel='home') #{title} #[span #{subTitle}]
			main.panel
				form(action='?action' method='post')
					fieldset.add-air
						legend Добавление нового эфира
						p
							label Время начала:
							input#time_start(name='time_start' type='datetime-local' value='2016-05-06T00:00' required)
							br
							em.text-m-m Время должно быть московским.
						p
							label Продолжительность:
							input#duration(name='duration' type='number' min='1' placeholder='60')
							label(for='duration') мин.
							br
							em.text-m-m Необязательно, стандартное время эфира &ndash; 1 час.
						p
							label(for='air_name') Название:
							input#air_name(name='air_name' type='text'  placeholder='Binan Koukou Chikyuu Bouei-bu LOVE! (1-2 NEW)' required)
						p
							label(for='air_link') Ссылка:
							input#air_link(name='air_link' type='text' placeholder='https://shikimori.org/animes/1639')
							br
							em.text-m-m Необязательно, но желательно.
						p.add-air-as-backup
							label(for='air_is_backup') Эфир на backup-потоке?
							input#air_is_backup(name='air_is_backup' type='checkbox')
							br
						p.submit
							input(name='add_air' type='submit' value='Добавить')
							label #[i.text-m Внимательно проверьте введённые данные!]
				form(action='?action' method='post')
					fieldset.rm-air
						legend Удалить последний эфир из расписания
						p #[samp.info-anime]
						p.hidden
							input#where_anime(name='where' type='radio' value='anime' required checked hidden)
						p
							label(for='rm_air_cnf') Вы точно этого хотите?
							input#rm_air_cnf(name='rm_air_cnf' type='checkbox' required)
						p.submit
							input(name='rm_air' type='submit' value='Удалить')

				footer.text-m
					p Последнее обновление расписания /anime: #[span.tsAnime]
					p Московское время (на сервере): #[span.tsCurrent]

		each lib in [`moment.js/${libsVer.moment.same}/moment.min.js`, `moment.js/${libsVer.moment.same}/locale/ru.js`, `moment-timezone/${libsVer.moment.timezone}/moment-timezone-with-data.min.js`]
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${lib}` defer)

		each JS in ['kamina', 'admin-panel']
			script(src=`${PATHS.js}/${JS}.min.js?v=${VERSION}` defer)

		|<?php $PHP_data = [
		|	'timezone' => date_default_timezone_get(),
		|	'sched' => [
		|		'anime' => [
		|			'count' => $schedAnime_count,
		|			'latest' => [
		|				'is' => $schedAnime_latest ? true : false,
		|				'title' => $schedAnime_latest ? $schedAnime_latest['title'] : '',
		|				'start' => $schedAnime_latest ? $schedAnime_latest['s'] : null,
		|				'end' => $schedAnime_latest ? $schedAnime_latest['e'] : null,
		|			]
		|		]
		|	],
		|	'ts' => [
		|		'anime' => filemtime($file['sched']['anime']),
		|		'current' => time()
		|	]
		|]; ?>

		script
			|<?php echo "document.addEventListener('DOMContentLoaded', () => { initAdminPanel(" . json_encode($PHP_data, JSON_UNESCAPED_UNICODE) . ") })" ?>
