|<?php
|	date_default_timezone_set('Europe/Moscow');
|	include_once (php_uname('s') == 'Windows NT' ? '../../api/' : '') . 'topsec/panel-core.php';
|?>
doctype html
html(lang='ru')
	head
		include ../inc/vars.pug
		- var subTitle = 'Panel'

		meta(charset='utf-8')
		title #{title} / #{subTitle}

		| <?php if (isset($_GET['action'])) echo '
		script document.location.href="'. $_SERVER['PHP_SELF'] .'"
		noscript #[meta(refresh="0; '. $_SERVER['PHP_SELF'] .'")]
		|'; ?>

		include ../inc/meta-viewport.pug
		meta(name='robots' content='noindex, nofollow')

		link(rel='shortcut icon' href=`${URLs.favicon}`)
		link(rel='manifest' href=`${URLs.manifest}`)
		link(rel='sitemap' href=`${URLs.sitemap}`)

		each CSS in ['aw-fonts', 'aw-every', 'admin-panel']
			link(rel='stylesheet' href=`${paths.css}/${CSS}.min.css?v=${projectVer}`)
	body
		div.container
			header.top-panel
				div.brand
					div.logo
					a(href='/' class='text' rel='home') #{title} #[span #{subTitle}]
			main.panel
				form(action='?action' method='post')
					fieldset.add-air
						legend Добавление нового эфира
						p
							label Время начала:
							input#time_start(name='time_start' type='datetime-local' value='2016-05-06T00:00' required)
							br
							em.text-m-m Время должно быть московским.
						p
							label Продолжительность:
							input#duration(name='duration' type='number' min='1' placeholder='60')
							label(for='duration') мин.
							br
							em.text-m-m Необязательно, стандартное время эфира &ndash; 1 час.
						p
							label(for='air_name') Название:
							input#air_name(name='air_name' type='text'  placeholder='Binan Koukou Chikyuu Bouei-bu LOVE! (1-2 NEW)' required)
						p
							label(for='air_link') Ссылка:
							input#air_link(name='air_link' type='text' placeholder='https://shikimori.org/animes/1639')
							br
							em.text-m-m Необязательно, но желательно.
						p
							label Куда добавлять эфир:
							input#where_anime_add(name='where' type='radio' value='anime' checked required)
							label(for='where_anime_add') /anime
							input#where_radio_add(name='where' type='radio' value='radio' required)
							label(for='where_radio_add') /radio
						p(style='display: none')
							label(for='air_is_secret') Эфир секретный?
							input#air_is_secret(name='air_is_secret' type='checkbox')
							br
							em.text-m-m Не будет отображаться в расписании, удалить его также будет нельзя.
						p.submit
							input(name='add_air' type='submit' value='Добавить')
							label #[i.text-m Внимательно проверьте введённые данные!]
				form(action='?action' method='post')
					fieldset.rm-air
						legend Удалить последний эфир из расписания
						p
							span Последний эфир на /anime: #[samp.info-anime]
							br
							span Последний эфир на /radio: #[samp.info-radio]
						p
							label Откуда удалять?
							input#where_anime_rm(name='where' type='radio' value='anime' required checked)
							label(for='where_anime_rm') /anime
							input#where_radio_rm(name='where' type='radio' value='radio' required)
							label(for='where_radio_rm') /radio
						p
							label(for='rm_air_cnf') Вы точно этого хотите?
							input#rm_air_cnf(name='rm_air_cnf' type='checkbox' required)
						p.submit
							input(name='rm_air' type='submit' value='Удалить')
				form(action='?action' method='post')
					fieldset.expired-clear
						legend Удалить старые эфиры из расписания
						p #[samp.count]
						p
							label(for='expire_chear_cnf') Вы точно этого хотите?
							input#expire_chear_cnf(name='expire_chear_cnf' type='checkbox' required)
						p.submit
							input(name='expired_clear' type='submit' value='Удалить')
				form(action='?action' method='post')
					fieldset.noti
						legend Работа с оповещением
						p.noti-text.text-m
						p
							label(for='noti_text') Текст:
							input#noti_text(name='noti_text' type='text' placeholder='напр. Розыгрыш BMW M3, не пропусти!' required)
						details.text-m
							summary Памятка по разметке
							p Для стилизации текста можно использовать #[kbd &lt;b&gt;#[b жирный шрифт]&lt;/b&gt;] и #[kbd &lt;i&gt;#[i курсив]&lt;/i&gt;], деление на абзацы с помощью #[kbd &lt;br&gt;].#[br]Ссылки должны быть вида #[kbd &lt;a href="https://..."&gt;текст&lt;/a&gt;]. В случае локальных ссылок следует использовать #[kbd &lt;a href="/pisos"&gt;&lt;текст&lt;/a&gt;].
						p
							label(for='noti_color') Цвет фона:
							input#noti_color(name='noti_color' type='color' value='#ffffff')
							br
							em.text-m-m По техническим причинам рекомендуется выбирать светлые цвета.
						p
							label(for='noti_rm') Удалить последнее оповещение?
							input#noti_rm(name='noti_rm' type='checkbox')
						p.submit
							input(name='noti' type='submit' value='Создать')
				fieldset.vk-link
					legend Обновление токена доступа ВК
					p

				footer.text-m
					p Asian Wave v#{projectVer}, #{subTitle} v0.6
					p Последнее обновление расписания /anime: #[span.tsAnime]
					p Последнее обновление расписания /radio: #[span.tsRadio]
					p Последнее обновление оповещения: #[span.tsNoti]
					p Московское время (на сервере): #[span.tsCurrent]

		each lib in [`moment.js/${libsVer.moment.same}/moment.min.js`, `moment.js/${libsVer.moment.same}/locale/ru.js`, `moment-timezone/${libsVer.moment.timezone}/moment-timezone-with-data.min.js`]
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${lib}` defer)

		each JS in ['kamina', 'admin-panel']
			script(src=`${paths.js}/${JS}.min.js?v=${projectVer}` defer)

		include ../inc/php-script-data.pug

		script
			|<?php echo "document.addEventListener('DOMContentLoaded', () => { initAdminPanel(" . json_encode($PHP_data, JSON_UNESCAPED_UNICODE) . ") })" ?>
