doctype html
html(lang='ru')
	head
		include inc/vars.pug

		- var subPage = { title: 'О проекте', link: '/about' }
		- var isIndexTmpl = true

		include inc/metadata.pug

		link(rel='canonical' href=`${URLs.self}${subPage.link}`)

		mixin mailto(post)
			a(href=`mailto:${post}`) #{post}

		each URL in ['www.google-analytics.com', 'fonts.gstatic.com', 'mc.yandex.ru']
			link(rel='dns-prefetch' href=`//${URL}`)

		include inc/meta-font.pug

		link(rel='stylesheet' href=`${PATHS.css}/pages.min.css?v=${VERSION}`)

	body
		header.top-panel
			div.container
				a.logo(href='/' rel='home')
				div.brand #{title}

		main.page
			div.container(data-error='no-js')
				section#this
					h1
						span О проекте
						small.anchor #[a(href='#this') #]

				section#faq
					h2
						span FAQ
						small.anchor #[a(href='#faq') #]

					ul.list
						li Мы некоммерческий проект, никакой рекламы, платных услуг или привилегий нет и не планируется
						li Мы семья. Мы можем ругаться и спорить, но всегда нужно держать себя в рамках. Если ты неадекватный овощ, который не может связать и двух слов и не в состоянии участвовать в конструктивном споре, то администрация может заблокировать тебя без объяснения причин (но в целом у нас свободное общение, да)
						li Пожертвования &ndash; добровольное действие, которое не даёт Вам преимуществ перед другими и права оскорблять без причины или что-то требовать. В случае чего, мы всегда готовы вернуть Вам ваше пожертвование, с вычетом комиссии за транзакции
						li Наше радио размещено на многих ресурсах-каталогах и в некоторых приложениях для мобильных. Использование наших потоков не возбраняется для размещения у себя, однако сохраняйте название, будьте добры

				section#rules
					h2
						span Правила
						small.anchor #[a(href='#rules') #]

					ul.list
						li Спам, флуд, cпойлеры &ndash; бан (особо умным &ndash; пермабан по IP)
						li Оскорбления, споры и угрозы допустимы, но в меру и только при условии, что собеседник не против. Свободное общение не означает, что можно делать абсолютно всё, что угодно

				section#for-right-holders
					h2
						span Правооблада&shy;телям
						small.anchor #[a(href='#for-right-holders') #]

					p Если Вы обнаружили на нашем сайте материал, который нарушает Ваши авторские права, или же дискредитирует Вашу компанию, предоставляя неверную информацию, пожалуйста свяжитесь с нами для решения этого вопроса. Для этого необходимо отправить e-mail на нашу почту #[+mailto(`devnull@${domain}`)] с вашего корпоративного почтового ящика со следующим содержанием:

					ul.list
						li контактные данные и реквизиты вашей компании
						li прямую ссылку/ссылки на материал, который вы считаете спорным
						li заверенные сканированные копии документов, подтверждающих ваше эксклюзивное право на материал
						li в случае, если вы представляете интересы другой компании &ndash; копии документов на посреднические услуги

					p Вся информация будет проверенна, и мы в кратчайшие сроки (насколько это будет возможно) свяжется с Вами для урегулирования спорного вопроса.
					p Мы не продаем материалы на нашем сайте, весь контент предоставлен для бесплатного домашнего ознакомления. Мы уважаем мнение и желания правообладателей и всегда идем к ним навстречу, готовы пойти как и на уступки, так и на сотрудничество.
					// текст взят с shikimori.org и copyright.sovetromantica.com

				section#contact
					h2
						span Контакты
						small.anchor #[a(href='#contact') #]
					p Связаться с нами можно посредством почты #[+mailto(`admin@${domain}`)] или #[a(href=`${URLs.links_soc.vk.replace('.com', '.me')}` target='_blank' rel='nofollow noopener') ЛС] сообщества ВК.

				div(style='margin-top: 1em; text-align: center; font-size: .9em; opacity: .4')
					p We are sorry, but only Russian version of this page is available.

		include inc/footer.pug

		each JS in ['kamina', 'special/info-from-meta', 'core', 'every', 'langs', 'special/client-tests']
			script(src=`${PATHS.js}/${JS}.min.js?v=${VERSION}` defer)

		include inc/bbiswu.pug
