doctype html
html(lang='ru')
	head
		include inc/vars.pug

		- var subPage = { title: 'Anime', link: '/anime' }

		- var nyanStream = { domain: 'nyan.stream', time: 10 }

		include inc/metadata.pug

		link(rel='canonical' href=`https://${nyanDomain}`)

		each URL in [`${nyanStream.domain}`, 'www.google-analytics.com', 'fonts.gstatic.com', 'mc.yandex.ru']
			link(rel='dns-prefetch' href=`//${URL}`)

		noscript
			meta(http-equiv='refresh' content=`${nyanTime}; url=https://${nyanStream.domain}/?from=asianwave`)

		style.
			body { font-family: Roboto, Arial, sans-serif; }

	body
		p Раздел #[q /anime] был перенесён на домен #[a(href=`https://${nyanStream.domain}/?from=asianwave`) #{nyanStream.domain}].
		p Вы будете автоматически перенаправлены туда через #[span.time #{nyanStream.time}] секунд#[span.end].

		script(src=`${PATHS.js}/special/anime-timer.min.js?v=${VERSION}` data-domain=`${nyanStream.domain}` data-time=`${nyanStream.time}` defer)

		include inc/bbiswu.pug
