doctype html
html(lang='ru')
	head
		include inc/vars.pug
		- var subTitle = 'Anime'
		- var nyanDomain = 'nyan.stream'
		- var nyanTime = 10

		include inc/metadata.pug

		link(rel='canonical' href=`https://${nyanDomain}`)

		each URL in [`${nyanDomain}`, 'www.google-analytics.com', 'fonts.gstatic.com', 'mc.yandex.ru']
			link(rel='dns-prefetch' href=`//${URL}`)

		noscript
			meta(http-equiv='refresh' content=`${nyanTime}; url=https://${nyanDomain}/?from=asianwave`)

		style.
			body { font-family: Roboto, Arial, sans-serif; }
	body
		p Раздел #[q /anime] был закрыт и перенесён на домен #[a(href=`https://${nyanDomain}/?from=asianwave`) #{nyanDomain}].
		p Вы будете автоматически перенаправлены туда через #[span.time #{nyanTime}] секунд#[span.end].

		script(src=`${PATHS.js}/special/anime-timer.min.js?v=${VERSION}` data-domain=`${nyanDomain}` data-time=`${nyanTime}` defer)

		include inc/bbiswu.pug
