doctype html
html(lang='ru')
	head
		include inc/vars.pug
		- var subTitle = 'Anime'

		include inc/metadata.pug

		link(rel='canonical' href=`${URLs.same}/anime`)

		each URL in ['aw-cdn.cojam.ru', 'www.google-analytics.com', 'ssl.google-analytics.com', 'fonts.gstatic.com', 'mc.yandex.ru', 'ymetrica.com', 'counter.yadro.ru', 'cdn.jsdelivr.net', 'images.weserv.nl',  'st1.chatovod.ru']
			link(rel='dns-prefetch' href=`//${URL}`)

		each CSS in ['aw-fonts', 'aw-every', 'anime']
			link(rel='stylesheet' href=`${PATHS.css}/${CSS}.min.css?v=${VERSION}`)
		noscript
			style.
				.anime .error-box { display: block } .anime .content { display: none }
	body
		div.container
			header.top-panel
				div.brand
					div.logo
					a(href='/' class='text' rel='home') #{title} #[span #{subTitle}]
				ul.right
					li.li--offset
						a.right--elem(href='/app--chrome' target='_blank' data-lang-title='ext_chrome')
							i.icon.icon-chrome
					li
						a.right--elem(href=`${URLs.requests.anime}` target='_blank' rel='nofollow noopener' data-lang-title='request_anime') &#43;
					li.li--offset
						a.right--elem(href=`${URLs.donate}` target='_blank' rel='nofollow noopener' data-lang-title='support') &#8381;
					li
						button.right--elem.closeTabs(data-lang-title='sidebar_trigger' data-js-action='sidebarTrigger')
			main.anime
				div.error-box
					noscript
						include inc/nojs-text.pug
				div.content
					div.player
						div.embed
						div.noti
						div.warnings
							div.api
								p С нашим API возникла какая-то ошибка!
								br
								p Попробуйте дважды кликнуть на наш логотип в шапке сайта для перезагрузки. Скорее всего, всё уже починилось само.
								br
								p(style='font-size: .8em') (но если нет, то начните возмущаться в чате или #[a(href='https://vk.me/asianwaveru' target='_blank' rel='nofollow noopener') напишите сюда], мы постараемся отреагировать как можно быстрее)
								br
								p(style='font-size: .7em') (a ещё можно попробовать #[a(href='?b') нажать сюда])
					aside.sidebar
						ul
							li
								button.active(role='radio' data-lang='chat' data-tab-radio='chat') Чат
							li
								button(role='radio' data-lang='tab_sched' data-tab-radio='sched') Расписание
							li
								button(role='radio' data-lang='tab_news' data-tab-radio='news') Новости
						section(data-tab='chat')
							iframe(src=`${URLs.chat}` data-lang-title='chat')
						section(data-tab='sched')
							div.schedule
						section(data-tab='news')
							div.vk-news
								div.vk-news-header
									a(href=`${URLs.vk}` target='_blank' rel='nofollow noopener' data-lang='vk_com')
								div.vk-posts

		each lib in [`moment.js/${libsVer.moment.same}/moment.min.js`, `moment.js/${libsVer.moment.same}/locale/ru.js`, `ismobilejs/${libsVer.isMobile}/isMobile.min.js`]
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${lib}` defer)

		each JS in ['kamina', 'special/ms-edge-suck', 'langs', 'core', 'parsers']
			script(src=`${PATHS.js}/${JS}.min.js?v=${VERSION}` defer)

		script(src=`${PATHS.js}/anime.min.js?v=${VERSION}` data-player-path='/files/frames/' defer)
		//- опция для загрузки бекап-плеера по-умолчанию: data-backup-bydefault

		include inc/bbiswu.pug
