doctype html
html(lang='ru')
	head
		include inc/vars.pug
		- var isIndexTmpl = true

		include inc/metadata.pug

		each verif in [{s: 'google-site-verification', code: 'Y-zrQS3gEUB2vkcCPbvcU7dhogBFKa_BV-rP_i2x79c'}, {s: 'yandex-verification', code: '37a9e7933989cd01'}, {s: 'msvalidate.01', code: '6EB38FA17104F2614498E05CF14876B9'}, {s: 'wmail-verification', code: '4520e9ca3d1a58da4ded056030b5bc6e'}]
			meta(name=`${verif.s}` content=`${verif.code}`)

		link(rel='canonical' href=`${URLs.same}`)

		each URL in ['radio', 'anime']
			link(rel='prerender' href=`/${URL}`)

		each URL in ['aw-cdn.blyat.science', 'www.google-analytics.com', 'ssl.google-analytics.com', 'fonts.gstatic.com', 'mc.yandex.ru', 'ymetrica.com', 'cdn.jsdelivr.net']
			link(rel='dns-prefetch' href=`//${URL}`)

		include inc/meta-font.pug

		link(rel='stylesheet' href=`${PATHS.css}/main.min.css?v=${VERSION}`)
	body
		header.top-panel
			div.container
				a.logo(href='/' rel='home')
				div.brand #{title}
		main.btns
			div.container
				a(href='/radio' data-lang-title='radio') /radio
				a(href='/anime' data-lang-title='anime') /anime

		include inc/footer.pug

		each JS in ['kamina', 'langs', 'special/glados', 'special/nyanpasu', 'special/snow']
			script(src=`${PATHS.js}/${JS}.min.js?v=${VERSION}` defer)

		include inc/bbiswu.pug
