doctype html
html(lang='ru')
	head
		include inc/vars.pug
		- var subTitle = 'Radio'

		include inc/metadata.pug

		link(rel='canonical' href=`${URLs.same}/radio`)

		each URL in ['www.google-analytics.com', 'ssl.google-analytics.com', 'mc.yandex.ru', 'ymetrica.com', 'counter.yadro.ru', 'fonts.googleapis.com', 'fonts.gstatic.com', 'cdn.jsdelivr.net', 'images.weserv.nl',  'st1.chatovod.ru', 'myradio24.com', 'listen1.myradio24.com']
			link(rel='dns-prefetch' href=`//${URL}`)

		link(rel='stylesheet' href=`https://cdnjs.cloudflare.com/ajax/libs/balloon-css/${libsVer.baloon}/balloon.min.css`)
		each CSS in ['aw-fonts', 'aw-every', 'radio']
			link(rel='stylesheet' href=`${paths.css}/${CSS}.min.css?v=${projectVer}`)
		noscript
			style.
				.radio, .error-box { display: block !important } .radio > * { display: none }
	body
		div.container
			header.top-panel
				div.brand
					div.logo
					a(href='/' class='text' rel='home') #{title} #[span #{subTitle}]
				ul.right
					li.li--offset
						a(href='/app--chrome' target='_blank' data-lang-title='ext_chrome')
							i.icon.icon-chrome
					li
						a(href=`${URLs.requests.radio}` target='_blank' rel='nofollow noopener' data-lang-title='request_music') &#43;
					li
						a(href=`${URLs.donate}` target='_blank' rel='nofollow noopener' data-lang-title='support') &#8381;
			main.radio
				div.error-box.radio--pe
					noscript
						include inc/nojs-text.pug
				div.content
					div.chat.radio--pe
						iframe(src=`${URLs.chat}`)
					div.vk-news.radio--pe
				aside
					div.side-content.player.only-one
						div.player-controls.radio--pe(contextmenu='autostart')
							button(data-ctrl='playpause')
								i.icon.icon-play
							input(data-ctrl='volume' type='range' step='.1' min='0' max='100')
						div.player-change.radio--pe
							button(data-point='jp')
							button(data-point='ru')
							button(data-point='kr')
					div.side-content.radio--pe.noti
					div.side-content.radio-live
					div.side-content.radio-state
					div.side-content.radio--pe.schedule
					div.side-content.radio--pe.songs-box
			include inc/footer.pug

		menu(type='context' id='autostart') #[menuitem]

		each lib in [`fetch/${libsVer.fetch}/fetch.min`, `moment.js/${libsVer.moment.same}/moment.min`, `moment.js/${libsVer.moment.same}/locale/ru`, `ismobilejs/${libsVer.isMobile}/isMobile.min`]
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${lib}.js` defer)

		each JS in ['kamina', 'special/ms-edge-suck', 'langs', 'radio']
			script(src=`${paths.js}/${JS}.min.js?v=${projectVer}` defer)

		include inc/bbiswu.pug
