doctype html
html(lang='ru')
	head
		include ../inc/vars.pug

		meta(charset='utf-8')
		title #{title} / Ошибка
		include ../inc/meta-viewport.pug

		link(rel='shortcut icon' href=`${URLs.favicon}`)
		link(rel='manifest' href=`${URLs.manifest}`)
		link(rel='sitemap' href=`${URLs.sitemap}`)

		each CSS in ['aw-fonts', 'apps/app-player']
			link(rel='stylesheet' href=`${paths.css}/${CSS}.min.css?v=${projectVer}`)
	body
		div.player-container(contextmenu='autostart' data-theme='light')
			div.player-elem.controls
				div.player-ctrl.playpause #[i.icon.icon-play]
				div.player-ctrl.mute #[i.icon.icon-volume-up]
				input.player-ctrl.volume(max='100' min='0' name='volume' step='0.1' type='range')

			div.player-elem.songnow
				div.player-song.playlist
					a.m3u-pl(href='javascript:void(0)' title='Слушать в плеере') #[i.icon.icon-music]
				ul.player-song.search
					li
						a.srch-vk(href='javascript:void(0)' rel='nofollow noopener' target='_blank' title='Поиск трека в VK') #[i.icon.icon-vk]
					li
						a.srch-google(href='javascript:void(0)' rel='nofollow noopener' target='_blank' title='Поиск трека в Google') #[i.icon.icon-google]
				div.player-song.song загрузка...

			div.player-elem.djname
			div.player-elem.listeners &#8734;

		menu#autostart(type='context') #[menuitem.aw-autostart-option]

		each lib in [`fetch/${libsVer.fetch}/fetch.min.js`, `ismobilejs/${libsVer.isMobile}/isMobile.min.js`]
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${lib}` defer)

		script(src=`${paths.js}/kamina.min.js?v=${projectVer}` defer)
		script(src=`${paths.js}/apps/app-player.min.js?v=${projectVer}` data-port='7934' data-server='1' defer)
