doctype html
html(lang='ru')
	head
		include ../inc/vars.pug

		meta(charset='utf-8')
		title #{title} / VK App
		include ../inc/meta-viewport.pug

		link(rel='shortcut icon' href=`${URLs.favicon}`)
		link(rel='manifest' href=`${URLs.manifest}`)
		link(rel='sitemap' href=`${URLs.sitemap}`)

		each CSS in ['aw-fonts', 'apps/app-vk']
			link(rel='stylesheet' href=`${paths.css}/${CSS}.min.css?v=${projectVer}`)
	body
		header.top-panel
			div.container
				div.logo
				div.brand #{title}
			div.right
				span.order-box
					a(href='javascript:void(0)' rel='nofollow noopener' target='_blank') Заказать музыку
				a(href=`${URLs.vk}` target='_blank') #[i.icon.icon-vk]
				a(href='/' rel='home' target='_blank') #[i.icon.icon-home]

		main.vk-app
			div.container
				iframe.embed.player(src='./player.html')
				iframe.embed.chat(src=`${URLs.chat}`)

		script.
			if (window.self == window.top) document.body.innerHTML = '<p class="noframe"><a href="https://vk.com/app4426688">\u00af\u005c\u005f\u0028\u30c4\u0029\u005f\u002f\u00af<\/a><\/p>'
