doctype html
html(lang='ru')
	head
		include src/vars.pug
		- var subTitle = 'Anime'

		include src/metadata.pug

		link(rel='canonical' href=`${URLs.same}/anime`)

		each URL in ['google-analytics.com', 'ssl.google-analytics.com', 'mc.yandex.ru', 'st1.chatovod.ru', 'counter.yadro.ru', 'images.weserv.nl', 'vk.com', 'pp.userapi.com', 'top-fwz1.mail.ru']
			link(rel='dns-prefetch' href=`//${URL}`)

		each CSS in ['aw-fonts.min.css', 'aw-every.min.css', 'anime.min.css']
			link(rel='stylesheet' href=`${paths.css}/${CSS}?v=${projectVer}`)
		noscript
			style.
				.tabs ul, .tabs [id*='tab_'], .closeTabs, .player .stats { display: none }
	body
		div.container
			header.top-panel
				div.brand
					div.logo
					a(href='/' class='text' rel='home') #{title} / #{subTitle}
				ul.right
					li.li--offset
						a(href='/app--chrome' target='_blank' data-lang-title='ext_chrome')
							i.icon.icon-chrome
					li
						a(href=`${URLs.requests.anime}` target='_blank' rel='nofollow noopener' data-lang-title='request_anime') &#43;
					li.li--offset
						a(href=`${URLs.donate}` target='_blank' rel='nofollow noopener' data-lang-title='support') &#8381;
					li
						span.no-link.closeTabs(data-lang-title='tabs_hide') &times;
			main.anime
				div.player
					div.embed
					div.noti
					div.warnings
						div.api
							p С нашим API возникла какая-то ошибка!
							p <br>Попробуйте дважды кликнуть на наш логотип в шапке сайта для перезагрузки. Скорее всего, всё уже починилось само.
							p(style='font-size: .8em') <br>(но если нет, то начните возмущаться в чате или #[a(href='https://vk.me/asianwaveru' target='_blank' rel='nofollow noopener') напишите сюда], мы постараемся отреагировать как можно быстрее)
							p(style='font-size: .7em') <br>(a ещё можно попробовать #[a(href='?b') нажать сюда])
				aside.tabs
					ul
						li.active(data-lang='tab_chat' data-tab='chat') Чат
						li(data-lang='tab_sched' data-tab='sched') Расписание
						li(data-lang='tab_news' data-tab='news') Новости
					section(data-tab='chat')
						iframe(src=`${URLs.chat}`)
					section(data-tab='sched')
						table.schedule
					section(data-tab='news')
						div.vk-news
					noscript
						div
							include src/nojs-text.pug

		each lib in [`fetch/${libsVer.fetch}/fetch.min.js`, `moment.js/${libsVer.moment.same}/moment.min.js`, `moment.js/${libsVer.moment.same}/locale/ru.js`, `ismobilejs/${libsVer.isMobile}/isMobile.min.js`]
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${lib}` defer)

		each JS in ['kamina.min.js', 'special/ms-edge-suck.min.js', 'langs.min.js']
			script(src=`${paths.js}/${JS}?v=${projectVer}` defer)

		script(src=`${paths.js}/anime.min.js?v=${projectVer}` data-player-path='/build/other/' data-backup-bydefault defer)
		//- опция для загрузки бекап-плеера по-умолчанию: data-backup-bydefault
		//- путь для разработки: /build/other/
		//- путь для продакшена: /files/other/

		include src/bbiswu.pug
