doctype html
html(lang='ru')
	head
		include src/vars.pug
		- var isIndexTmpl = true

		meta(charset='utf-8')
		title #{title}

		include src/metadata.pug

		each verif in [{s: 'google-site-verification', code: 'Y-zrQS3gEUB2vkcCPbvcU7dhogBFKa_BV-rP_i2x79c'}, {s: 'yandex-verification', code: '37a9e7933989cd01'}, {s: 'msvalidate.01', code: '6EB38FA17104F2614498E05CF14876B9'}, {s: 'wmail-verification', code: '4520e9ca3d1a58da4ded056030b5bc6e'}]
			meta(name=`${verif.s}` content=`${verif.code}`)

		//- meta(name='google-site-verification' content='Y-zrQS3gEUB2vkcCPbvcU7dhogBFKa_BV-rP_i2x79c')
		//- meta(name='yandex-verification' content='37a9e7933989cd01')
		//- meta(name='msvalidate.01' content='6EB38FA17104F2614498E05CF14876B9')
		//- meta(name='wmail-verification' content='4520e9ca3d1a58da4ded056030b5bc6e')

		link(rel='canonical' href=`${url}`)
		link(rel='shortcut icon' href='/files/img/favicon.png')
		link(rel='manifest' href='/.webmanifest')
		link(rel='sitemap' href='/sitemap.php')

		link(rel='prerender' href='/radio')
		link(rel='prerender' href='/anime')

		each URL in ['google-analytics.com', 'ssl.google-analytics.com', 'mc.yandex.ru']
			link(rel='dns-prefetch' href=`//${URL}`)

		each CSS in ['aw-fonts.min.css', 'main.min.css']
			link(rel='stylesheet' href=`/files/css/${CSS}?v=${projectVer}`)
	body
		header.top-panel
			div.container
				a.logo(href='/' rel='home')
				a.brand #{title}
		main.btns
			div.container
				a(href='/radio' title='Радио') /radio
				a(href='/anime' title='Анима') /anime
		footer
			div.container
				p #[a(href='/' rel='home') #{title}] &ndash; мультимедийный портал для поклонников азиатской культуры всех жанров и типов.
				p &#9829; 2016 &ndash; 2017 &middot; #[a(href='/about') О проекте]
		div.css-preload ¯\_(ツ)_/¯

		include src/bbiswu.pug
