doctype html
html(lang='ru')
	head
		include src/vars.pug
		- var subTitle = 'Radio'

		include src/metadata.pug

		link(rel='canonical' href=`${url}/radio`)

		each URL in ['google-analytics.com', 'ssl.google-analytics.com', 'mc.yandex.ru', 'st1.chatovod.ru', 'counter.yadro.ru', 'images.weserv.nl', 'myradio24.com', 'listen1.myradio24.com']
			link(rel='dns-prefetch' href=`//${URL}`)

		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.4.0/balloon.min.css')
		each CSS in ['aw-fonts.min.css', 'aw-every.min.css', 'radio.min.css']
			link(rel='stylesheet' href=`/files/css/${CSS}?v=${projectVer}`)
		noscript
			style.
				.radio, .error-box { display: block !important } .radio > * { display: none }
	body
		div.container
			header.top-panel
				div.brand
					div.logo
					a(href='/' class='text' rel='home') #{title} / #{subTitle}
				ul.right
					li.li--offset
						a(href='/app--chrome' target='_blank' data-lang-title='ext_chrome')
							i.icon.icon-chrome
					li
						a(href='https://vk.com/topic-120842574_33906364' target='_blank' rel='nofollow noopener' data-lang-title='request_music') &#43;
					li
						a(href='http://www.donationalerts.ru/r/asianwave' target='_blank' rel='nofollow noopener' data-lang-title='support') &#8381;
			main.radio
				div.error-box.radio--pe
					noscript
						include src/nojs-text.pug
				div.content
					div.chat.radio--pe
						iframe(src='https://asianwaveru.chatovod.ru')
					div.vk-news.radio--pe
				aside
					div.side-content.player
						div.player-controls.radio--pe(contextmenu='autostart')
							button(data-ctrl='playpause')
								i.icon.icon-play
							input(data-ctrl='volume' type='range' step='0.1' min='0' max='100')
						div.player-change.radio--pe
							button(data-point='jp')
							button(data-point='ru')
							button(data-point='kr')
					div.side-content.radio--pe.noti
					div.side-content.radio-live
					div.side-content.radio-state
					div.side-content.radio--pe.schedule
					div.side-content.radio--pe.songs-box
			include src/footer.pug

		menu(type='context' id='autostart')
			menuitem

		each lib in ['fetch/2.0.3/fetch.min.js', 'moment.js/2.18.1/moment.min.js', 'moment.js/2.18.1/locale/ru.js', 'ismobilejs/0.4.1/isMobile.min.js']
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${lib}` defer)

		each JS in ['kamina.min.js', 'special/ms-edge-suck.min.js', 'langs.min.js', 'radio.min.js']
			script(src=`/files/js/${JS}?v=${projectVer}` defer)

		include src/bbiswu.pug
