doctype html
html(lang='ru')
	head
		include ../src/vars.pug

		meta(charset='utf-8')
		title #{title} / Anime Main Player
		link(rel='shortcut icon" href="img/favicon.png')

		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='robots' content='noindex, nofollow')

		style.
			html, body, .player, .player embed, .warning { width: 100%; height: 100% }
			html, body {
				margin: 0; padding: 0;
				overflow: hidden;
			}
			body {
				background-color: #000;
				//-background-image: url('#{paths.img}/anime-offline.png');
				background-repeat: no-repeat;
				background-position: center bottom;
				background-size: cover;
			}
			.player:empty, .bar-container .bar-scrubber { display: none }
	body
		div.player

		each JS in ['kamina.min.js', 'special/ms-edge-suck.min.js', 'special/flash.min.js']
			script(src=`${paths.js}/${JS}?v=${projectVer}` defer)

		script(src='https://cdnjs.cloudflare.com/ajax/libs/clappr/0.2.66/clappr.min.js' defer)
		script(src='https://cdnjs.cloudflare.com/ajax/libs/dash-shaka-playback/2.0.7/dash-shaka-playback.js' defer)

		script.
			document.addEventListener('DOMContentLoaded', () => {
				let player = new Clappr.Player({
					source: '',
					plugins: [DashShakaPlayback],
					parent: '.player',
					poster: '#{paths.img}/anime-offline.png',
					width: '100%', height: '100%',
					autoPlay: true,
					language: 'ru',
					disableVideoTagContextMenu: true,
					gaAccount: 'UA-79528573-1',
					gaTrackerName: 'AnimeClappr'
				})
			})
