doctype html
html(lang='ru')
	head
		include ../inc/vars.pug

		meta(charset='utf-8')
		title #{title} / Anime Backup Player / JW Player mode
		link(rel='shortcut icon' href=`${URLs.favicon}`)

		include ../inc/meta-viewport.pug
		meta(name='robots' content='noindex, nofollow')

		each URL in ['video.eientei.org', 'fonts.gstatic.com', 'ssl.p.jwpcdn.com', 'assets-jpcust.jwpsrv.com', 'jwpltx.com']
			link(rel='dns-prefetch' href=`//${URL}`)

		include ../inc/meta-font.pug

		each CSS in ['all-warning', 'player-jw']
			link(rel='stylesheet' href=`${PATHS.css}/anime-players/${CSS}.min.css?v=${VERSION}`)
	body
		div.jwplayer#jw-player
		div.warning
			include ../inc/noflash-text.pug

		script(src='https://content.jwplatform.com/libraries/9QBfQupy.js' defer)
		each JS in ['kamina', 'special/ms-edge-suck', 'special/flash', 'anime-players/player-jw']
			script(src=`${PATHS.js}/${JS}.min.js?v=${VERSION}` defer)
