doctype html
html(lang='ru')
	head
		include ../inc/vars.pug

		meta(charset='utf-8')
		title #{title} / Anime Backup Player
		link(rel='shortcut icon' href=`${URLs.favicon}`)

		include ../inc/meta-viewport.pug
		meta(name='robots' content='noindex, nofollow')

		lin(rel='dns-prefetch' href='//video.eientei.org')

		style .player,.player embed,.warning,body,html{width:100%;height:100%}body,html{margin:0;padding:0;overflow:hidden}body{background-color:#000;background-repeat:no-repeat;background-position:center bottom;background-size:cover}.player:empty{display:none}.warning{display:none;font-family:Roboto,Arial,sans-serif;background-color:#fff;align-items:center;justify-content:center}.warning p{text-align:center;font-size:1.1em;padding:0 5px}.warning kbd{display:inline-block;background-color:#797979;color:#fff;padding:2.5px 5px;border-radius:5px}

			//- https://css.github.io/csso/csso.html
			//- html, body, .player, .player embed, .warning { width: 100%; height: 100% }
			//- html, body {
			//- 	margin: 0; padding: 0;
			//- 	overflow: hidden;
			//- }
			//- body {
			//- 	background-color: #000;
			//- 	/*background-image: url('#{paths.img}/anime-offline.png');*/
			//- 	background-repeat: no-repeat;
			//- 	background-position: center bottom;
			//- 	background-size: cover;
			//- }
			//- .player:empty { display: none; }
			//- .warning {
			//- 	display: none;
			//- 	font-family: Roboto, Arial, sans-serif;
			//- 	background-color: #fff;
			//- 	align-items: center;
			//- 	justify-content: center;
			//- }
			//- .warning p {
			//- 	text-align: center;
			//- 	font-size: 1.1em;
			//- 	padding: 0 5px;
			//- }
			//- .warning kbd {
			//- 	display: inline-block;
			//- 	background-color: #797979;
			//- 	color: #fff;
			//- 	padding: 2.5px 5px;
			//- 	border-radius: 5px;
			//- }
	body
		div.player
		div.warning
			include ../inc/noflash-text.pug

		each JS in ['kamina.min.js', 'special/ms-edge-suck.min.js', 'special/flash.min.js']
			script(src=`${paths.js}/${JS}?v=${projectVer}` defer)

		script document.addEventListener('DOMContentLoaded',()=>{let a=$create.elem('embed'),b=$check.get('url')?$check.get('url'):'video.eientei.org/live/AsianWave',c='1'==$check.get('debug')?'&debug=1':'';a.setAttribute('src','/files/other/vgaplayer.swf'),a.setAttribute('type','application/x-shockwave-flash'),a.setAttribute('flashvars',`url=rtmp://${b}${c}&smoothing=1&fullscreen=1&imageUrl=#{paths.img}/anime-offline.png&buttonBgColor=0&buttonHiBgColor=0`),a.setAttribute('quality','best'),a.setAttribute('scale','noscale'),a.setAttribute('browserzoom','noscale'),a.setAttribute('wmode','direct'),a.setAttribute('menu',!1),a.setAttribute('allowfullscreen',!0),a.setAttribute('pluginspage','https://get.adobe.com/ru/flashplayer/'),hasFlash()||isEdge?$make.qs('.player').appendChild(a):$make.qs('.warning').style.display='flex'});

			//- https://jscompress.com
			//- document.addEventListener('DOMContentLoaded', () => {
			//- 	let
			//- 		embed = $create.elem('embed'),
			//- 		stream = $check.get('url') ? $check.get('url') : 'video.eientei.org/live/AsianWave',
			//- 		debug = ($check.get('debug') == '1') ? '&debug=1' : ''
			//- 
			//- 	embed.setAttribute('src', 'vgaplayer.swf')
			//- 	embed.setAttribute('type', 'application/x-shockwave-flash')
			//- 	embed.setAttribute('flashvars', `url=rtmp://${stream}${debug}&smoothing=1&fullscreen=1&imageUrl=../img/anime-offline.png&buttonBgColor=0&buttonHiBgColor=0`)
			//- 	embed.setAttribute('quality', 'best')
			//- 	embed.setAttribute('scale', 'noscale')
			//- 	embed.setAttribute('browserzoom', 'noscale')
			//- 	embed.setAttribute('wmode', 'direct')
			//- 	embed.setAttribute('menu', false)
			//- 	embed.setAttribute('allowfullscreen', true)
			//- 	embed.setAttribute('pluginspage', 'https://get.adobe.com/ru/flashplayer/')
			//- 
			//- 	if (hasFlash() || isEdge)
			//- 		$make.qs('.player').appendChild(embed)
			//- 		else $make.qs('.warning').style.display = 'flex'
			//- })
