doctype html
html(lang='ru')
	head
		include ../inc/vars.pug

		meta(charset='utf-8')
		title #{title} / Anime Backup Player / Yukku mode
		link(rel='shortcut icon' href=`${URLs.favicon}`)

		include ../inc/meta-viewport.pug
		meta(name='robots' content='noindex, nofollow')

		link(rel='dns-prefetch' href='//video.eientei.org')

		each CSS in ['all-warning', 'player-flash']
			link(rel='stylesheet' href=`${paths.css}/anime-players/${CSS}.min.css?v=${projectVer}`)
	body#yukku-player
		div.player
		div.warning
			include ../inc/noflash-text.pug

		each JS in ['kamina', 'special/ms-edge-suck', 'special/flash', 'special/embed-attrs', 'anime-players/player-flash']
			script(src=`${paths.js}/${JS}.min.js?v=${projectVer}` defer)

		script.
			document.addEventListener('DOMContentLoaded', () => {
				let stream = $check.get('url') ? $check.get('url') : 'video.eientei.org/live/AsianWave'
				playerInit({ file: 'yukkuplayer', vars: `videoUrl=rtmp://${stream}&buffer=1&idleImageUrl=spinner.gif`, wmode: 'transparent' })
			})
