doctype html
html(lang='ru')
	head
		include ../inc/vars.pug

		meta(charset='utf-8')
		title #{title} / ~

		base(href=`${URLs.same}/files/other/`)
		link(rel='shortcut icon' href=`${URLs.favicon}`)

		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='robots' content='noindex, nofollow')

		style *{box-sizing:border-box;padding:0;margin:0;outline:0}body,html{width:100%;height:100%;background-color:transparent;overflow:hidden}

			//- https://css.github.io/csso/csso.html
			//- * { box-sizing: border-box; padding: 0; margin: 0; outline: 0 }
			//- 
			//- html, body {
			//- 	width: 100%; height: 100%;
			//- 	background-color: transparent;
			//- 	overflow: hidden;
			//- }
	body
		div.data

		each lib in [`moment.js/${libsVer.moment.same}/moment.min.js`, `moment.js/${libsVer.moment.same}/locale/ru.js`, `moment-timezone/${libsVer.moment.timezone}/moment-timezone-with-data.min.js`]
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${lib}` defer)

		each JS in ['kamina.min.js', 'special/streams-embed.min.js']
			script(src=`../js/${JS}?v=${projectVer}` defer)
