meta(charset='utf-8')
title #{title}#{subTitle ? ' / ' + subTitle : ''}

meta(name='description' content=`${description}`)
meta(name='keywords' content='')

each og in [{what: 'locale', content: 'ru_RU'}, {what: 'type', content: 'website'}, {what: 'title', content: `${title}${subTitle ? ' / ' + subTitle : ''}`}, {what: 'description', content: `${description}`}, {what: 'url', content: `${url}`}, {what: 'site_name', content: `${title}`}, {what: 'image', content: '/files/img/share.png'}]
	meta(property=`og:${og.what}` content=`${og.content}`)

each og in [{what: 'card', content: 'summary_large_image'}, {what: 'description', content: `${description}`}, {what: 'title', content: `${title}${subTitle ? ' / ' + subTitle : ''}`}, {what: 'image', content: '/files/img/share.png'}]
	meta(name=`twitter:${og.what}` content=`${og.content}`)

meta(name='telegram:channel' content='asianwave')

script(type='application/ld+json') {"@context":"https://schema.org", "@type":"WebSite", "url":"#{url}", "name":"#{title}", "description": "#{description}"}

link(rel='shortcut icon' href=`${urls.favicon}`)
link(rel='manifest' href=`${urls.manifest}`)
link(rel='sitemap' href=`${urls.sitemap}`)

meta(name='viewport' content='width=device-width, initial-scale=1')
