meta(charset='utf-8')
title #{title}#{subTitle ? ' / ' + subTitle : ''}

meta(name='description' content='')
meta(name='keywords' content='')

meta(property='og:locale' content='ru_RU')
meta(property='og:type' content='website')
meta(property='og:title' content=`${title}${subTitle ? ' / ' + subTitle : ''}`)
meta(property='og:description' content=`${description}`)
meta(property='og:url' content=`${url}`)
meta(property='og:site_name' content=`${title}`)
meta(property='og:image' content='/files/img/share.png')

meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:description' content=`${description}`)
meta(name='twitter:title' content=`${title}${subTitle ? ' / ' + subTitle : ''}`)
meta(name='twitter:image' content='/files/img/share.png')

meta(name='telegram:channel' content='asianwave')

script(type='application/ld+json') {"@context":"https://schema.org", "@type":"WebSite", "url":"#{url}", "name":"#{author}", "description": "#{description}"}

meta(name='viewport' content='width=device-width, initial-scale=1')
