- const description = 'Мультимедийный портал для поклонников азиатской культуры всех жанров и типов'

- URLs = Object.assign({ self: `https://${domain}`, favicon: `${PATHS.img}/favicon.png?v=${VERSION}`, logo: `${PATHS.img}/logo/logo.svg?v=${VERSION}`, manifest: `/nyan.webmanifest?v=${VERSION}`, sitemap: '/sitemap.xml' }, URLs)
